{% extends 'base.html' %}

{% block title %}
    Add to DB
{% endblock %}

{% block body %}
    <div class="mb-3">
        <div class="alert text-center alert-success" role="alert">
            Här kan du granska din Bank-giro file
        </div>
    </div>
    <div class="mb-3" style="width: 360px">
        <form enctype="multipart/form-data" method="post" name="input_file">
            <div class="input-group mb-3">
                <input type="file"
                       class="form-control input-group bg-danger"
                       id="xlsx_file"
                       name="xlsx_file"
                       data-buttonText="Your label here.">
                <button name="file_submit" class="input-group-text btn btn-info" type="submit" value=Upload>Granska
                </button>
            </div>
        </form>
    </div>
    {% if result %}
        <form method="post" name="transactions" id="wrapper">

            <div class="mb-3 input-group">
                <span class="input-group-text">Datum: </span>
                <input name="date"
                       type="text"
                       value="{{ date }}"
                       class="input-group-text bg-white" readonly>

                <span class="input-group-text">Antal Transaktioner: </span>
                <div class="input-group-text bg-white">{{ result|length }}</div>

                <span class="input-group-text">Totala Belopp: </span>
                <div class="input-group-text bg-white">{{ total_amount }}</div>

                <span class="input-group-text">Banken: </span>
                <select name="bank" class="text-left bg-white form-control form-select"
                        aria-label="Default select example"
                        style="text-align: end" required>
                    <option selected disabled value="">Välja Bank</option>
                    <option value="2">Danske Banken</option>
                    <option value="1">Nordea</option>
                </select>

                <span class="input-group-text">Klart granskad</span>
                <button name="transaktions_list" type="submit" class="btn btn btn-success">Spara i archive</button>

            </div>

            {% for tr in result %}
                <div class="input-group mb-3">
                    <!-- ID and Show Information from file -->
                    <button class="btn btn-primary bg-info"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapse_{{ tr["id"] }}"
                            aria-expanded="false"
                            aria-controls="collapse_{{ tr["id"] }}">
                        {{ tr["id"] }}
                    </button>
                    <!-- Reference Readonly-->
                    <input name="reference" class="bg-success" value="{{ tr['reference'] }}" style="display:none;"
                           readonly>
                    <!-- Show Sender information -->
                    <button class="btn btn-primary"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapse_sender_{{ tr["id"] }}"
                            aria-expanded="false"
                            aria-controls="collapse_sender_{{ tr["id"] }}">
                        Avsändaren:
                    </button>
                    <!-- Senders Name -->
                    <input class="text-left form-control"
                           name="senders_name"
                           style="text-align: end"
                           value="{{ tr['sender_name'] }}"
                           type="text"
                           aria-label="sender">
                    <!-- Show Receiver information -->
                    <!-- Show Sender information -->
                    <button class="btn btn-warning"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapse_receiver_{{ tr["id"] }}"
                            aria-expanded="false"
                            aria-controls="collapse_receiver_{{ tr["id"] }}">
                        Mottagare
                    </button>
                    <!-- Receiver Name -->
                    <input class="text-left form-control"
                           name="receiver_name"
                           style="text-align: end"
                           value="{{ tr['receiver_name'] }}"
                           type="text"
                           aria-label="receiver">
                    <!-- Amount Title -->
                    <span class="input-group-text">Belopp:</span>
                    <!-- Amount Value -->
                    <input class="text-left form-control"
                           name="amount"
                           style="text-align: end"
                           value="{{ tr['amount'] }}"
                           type="text"
                           aria-label="receiver"
                           readonly>
                    <!-- Reasons Title -->
                    <span class="input-group-text">Anledning: </span>
                    <!-- Reasons Value -->
                    <select name="reason"
                            class="text-left form-control form-select"
                            aria-label="Default select example"
                            style="text-align: end" required>
                        {% for reason in reasons %}
                            <option selected value="{{ reason.id }}">{{ reason.name }}</option>
                        {% endfor %}
                    </select>
                    <!-- Origin of money Title -->
                    <span class="input-group-text">Pengarnas ursprung:</span>
                    <!-- Origin of money Value -->
                    <select name="origin"
                            class="text-left form-control form-select"
                            aria-label="Default select example"
                            style="text-align: end" required>
                        {% for origin in origins %}
                            <option selected value="{{ origin.id }}">{{ origin.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Information from file hidden -->
                <div class="collapse" id="collapse_{{ tr["id"] }}">{{ tr }}</div>
                <!-- Information about Sender hidden -->
                <div class="collapse" id="collapse_sender_{{ tr["id"] }}">
                    <!-- information title and name of sender -->
                    <div id="sender_info_{{ tr["id"] }}" class="alert alert-info" role="alert">Information om
                        sändaren: {{ tr['sender_name'] }}</div>
                    <div class="input-group mb-3">
                        <!-- ssn title -->
                        <span style="max-width: 145px"
                              class="bg-light input-group-text text-right">&nbsp Person numer:&nbsp
                                    </span>
                        <!-- ssn sender -->
                        <input name="ssn"
                               value=""
                               placeholder="ÅÅÅÅMMDD-XXXX"
                               type="text"
                               aria-label="Last name"
                               style="max-width: 277px"
                               class="form-control text-end"
                               required>

                    </div>
                    <div class="exist_profile alert alert-success" role="alert" style="display: none">
                        Kunden med denna person nummer är redan registrerad i systemet
                    </div>
                    <div class="row new_profile" style="display: none">
                        <div class="col">
                            <!-- Account details card-->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (organization name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputEmailAddress">E-post:</label>
                                            <input class="form-control" id="inputEmailAddress" type="email"
                                                   name="e_mail"
                                                   value="">
                                        </div>
                                        <!-- Form Group (telefon)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLocation">Telefon numer:</label>
                                            <input name="telefon"
                                                   class="form-control"
                                                   id="inputLocation"
                                                   type="text"
                                                   placeholder="0{{ range(762227788, 768885544) | random }}" value="">
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (expire_date)-->

                                        <div class="col-md-6">
                                            <label class="small mb-1">Giltighets datum för id
                                                handling:</label>
                                            <input class="form-control"
                                                   name="expire_date" value="">
                                        </div>
                                        <!-- div class="col-md-6">
                                            <label class="small mb-1" for="inputBirthday">Typ av id handling</label>
                                            <select name="type_of_senders_document"
                                                    id="doc_expire_date"
                                                    class="text-left form-control form-select"
                                                    aria-label="Default select example">
                                                <option>Välj id handling</option>
                                                <option value="Svenska Passet">Svenska Passet</option>
                                                <option value="Körkort">Körkort</option>
                                                <option value="ID-kort">ID-kort</option>
                                                <option value="Annat document">Annat document</option>
                                            </select>
                                        </div -->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="">Address:</label>
                                            <textarea name="address"
                                                      type="text"
                                                      aria-label=""
                                                      style="max-width: 277px"
                                                      class="form-control">{{ tr['address'] }}
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- telefon nr, expire date of document, document file -->
                    <!-- phone number title -->
                    <!-- phone number -->
                    <!-- input name="telefon"
                               value=""
                               placeholder=""
                               type="text"
                               aria-label="Last name"
                               style="max-width: 277px"
                               class="form-control"
                               required/-->
                    <!-- expire date Title -->
                    <!-- Expire date -->
                    <!-- input name="expire_date"
                           value=""
                           type="date"
                           aria-label=""
                           style="max-width: 236px"
                           class="form-control"
                           required/ -->
                    <!-- Document file Title -->
                    <!-- address -->
                    <!-- address -->
                    <!--textarea name="address"
                                  type="text"
                                  aria-label="Last name"
                                  style="max-width: 277px"
                                  class="form-control">{{ tr['address'] }}
                        </textarea -->
                    <!-- Warning message -->
                </div>
                <!-- Information about Receiver hidden -->
                <div class="collapse" id="collapse_receiver_{{ tr["id"] }}">
                    <!-- information title and name of sender -->
                    <div class="alert alert-warning" role="alert">Information om
                        Mottagare: {{ tr['receiver_name'] }}</div>
                    <!-- ssn, type of document -->
                    <div class="input-group mb-3">
                        <!-- Country Title -->
                        <span style="max-width: 145px"
                              class="bg-light input-group-text text-right">Välj Land
                        </span>
                        <!-- Country Receiver -->
                        <select name="country"
                                class="text-left form-control form-select"
                                aria-label="Default select example"
                                style="text-align: end; max-width: 277px"
                                required>
                            <!--option selected disabled>Välja typ av ID-handling</option-->
                            <option value="">Välj</option>
                            <option value="Angola" selected="selected">Angola</option>
                            <option value="Storbritannien/UK">Storbritannien/UK</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Egypten">Egypten</option>
                            <option value="Etiopien">Etiopien</option>
                            <option value="Förenade Arabemiraten">Förenade Arabemiraten</option>
                            <option value="Grekland">Grekland</option>
                            <option value="Indien">Indien</option>
                            <option value="Indonesien">Indonesien</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kina">Kina</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Malta">Malta</option>
                            <option value="Oman">Oman</option>
                            <option value="Saudiarabien">Saudiarabien</option>
                            <option selected value="Somalia">Somalia</option>
                            <option value="Somaliland">Somaliland</option>
                            <option value="Sydafrika">Sydafrika</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Turkiet">Turkiet</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Zambia">Zambia</option>
                        </select>
                        <!-- Relationship title -->
                        <span
                                class="bg-light input-group-text text-right">Relation till mottagaren
                        </span>
                        <!-- relationship between Sender and Receiver -->
                        <select name="relationship"
                                class="text-left form-control form-select"
                                aria-label="Default select example"
                                style="text-align: end; max-width: 277px"
                                required>
                            <!--option selected disabled>Välja typ av ID-handling</option-->
                            <option>Välj</option>
                            <option value="Familj/Släkt">Familj/Släkt</option>
                            <option selected value="Vän">Vän</option>
                            <option value="Till sig själv">Till sig själv</option>
                        </select>
                    </div>
                </div>
            {% endfor %}
        </form>
        <script>
            ssn_list = []
            {% for profile in profiles %}
               // ssn_list.push("{{ profile.ssn }}")
                ssn_list.push({ssn:"{{profile.ssn}}",name:"{{profile.f_name}}"})
            {% endfor %}
            console.table(ssn_list)
            document.getElementById('wrapper').addEventListener('change', function (event) {
                const elem = event.target;
                var parent_elem = elem.parentElement.parentElement
                var new_profile_elem = parent_elem.getElementsByClassName("new_profile")[0]
                var exist_profile = parent_elem.getElementsByClassName("exist_profile")[0]
                var profile_name = parent_elem.getElementsByClassName("alert")[0].textContent.split(":")[1].trim()
                console.log("!!!!!"+profile_name)

                console.log(ssn_list.includes({ssn: elem.value}))
                console.log(ssn_list.some(item => item.ssn === elem.value));
                for (let elem  of ssn_list) {
                    console.log(elem.ssn)
                }
                if (ssn_list.some(item => item.ssn === elem.value)) {
                    exist_profile.style.display = "";
                    exist_profile.textContent = (elem.value + " tillhör kunden med namn " + ssn_list.find(item => item.ssn === elem.value).name )
                    if (ssn_list.find(item => item.ssn === elem.value).name != profile_name){
                        exist_profile.style.background = "red"
                    }
                    new_profile_elem.style.display = "none";
                } else if (ssn_list.some(item => item.ssn === elem.value) == false) {
                    exist_profile.style.display = "none";
                    new_profile_elem.style.display = "";
                }


            });
        </script>
    {% endif %}
{% endblock %}